.logo {
    width: 100px;
    height: 30px;
}

.navbar{
    height: 60px;
}

.navbar-brand{
    padding-top: 10px;
}

.navbar-nav .nav-link{
    background: none;
    padding: 8px 16px;
    border-radius: 60px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar-nav .nav-link:active{
    background-color: rgb(230, 248, 137);
    color: rgb(162, 255, 0);
}

.collapse{
    background-color: rgba(255, 255, 255, 0.746);
}

.landing-page {
    background-image: url("Black and Pink Gradient Motivational Quote Desktop Wallpaper.png");
    height: 100vh;
    background-size: cover;
}

.lp-heading{
    color: #FFC0CB;
    font-family: 'Dela Gothic One', sans-serif;
}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: auto;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.explore-menu-section {
    background-color: white;
}

.art-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.art-item-image {
    border-radius: 16px;
}

.art-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.art-item-link {
    color: #FFC0CB;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.art-item-card {
    border-radius: 16px;
}

